numpy
scipy
matplotlib
seaborn
networkx
sqlalchemy
paramiko
pandas
sympy
notebook
nose
numba
ipywidgets
ipyparallel
dask
distributed
mpi4py
h5py
six
sphinx
sphinx_rtd_theme
pandoc
nbsphinx
tqdm
