<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>exa analytics dashboard</title>
        <link rel='stylesheet' type='text/css', href='static/css/dashboard.css'>
    </head>
    <body>
        <div class='dashboard' id='dashboard'></div>
    </body>
</html>







        <!--script src={{angular_min_js}}></script>
        <script src={{jquery_min_js}}></script>
        <script src={{pixi_min_js}}></script>
        <script src={{dat_gui_min_js}}></script>
        <script src={{three_min_js}}></script>
        <script src={{TrackballControls_js}}></script>
        <script src={{exa_dashboard_js}}></script>
    </head>
    <body>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{'{{yourName}}'}}!</h1>
        <button type='button' id='click_render'>render</button>
        <div style='border:1px solid black;' id='dashboard'></div>
    </body>
</html>
-->
